.cards {
    margin: 2rem;
    margin-top: 1rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    place-items: center;
}

.card {
    width: 360px;
    height: 180px;
}

.card img {
    width: 100%;
    height: 100%;
}

.card:hover {
    opacity: 70%;
}

section {
    height: 100vh;
    display: grid;
    grid-template-rows: 75% 25%;
}

.logo-talking {
    text-align: right;
    height: 20vh;
}

.logo-talking img {
    margin-top: -2.1rem;
    padding-right: 3rem;
    height: 125%;
}