.books-grid {
    margin: 3rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    place-items: center;
}

.book {
    width: 100px;
    height: 150px;
    border-left: 0.2rem solid brown;
    border-top: 0.2rem solid brown;
    box-shadow: 4px 4px 0px black;  
}

.book img {
    width: 100%;
    height: 100%;
}

section {
    height: 100vh;
    display: grid;
    grid-template-rows: 75% 25%;
}

.logo-talking {
    text-align: right;
    height: 20vh;
}

.logo-talking img {
    margin-top: -1rem;
    padding-right: 3rem;
    height: 125%;
}