<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/aside.css')}}">
    {% block head %}

    {% endblock %}
</head>
<body>
    <aside>
        <h1>Codex</h1>

        <div class="sidebar-element aprender" id="Aprender">
            <img src="/static/icons/sidebar/pencil.png" alt="">
            <form class="btn-a" action="{{url_for('aprender')}}">
                <input type="submit" value="Caminos" />
            </form>
        </div>

        <div class="sidebar-element" id="Biblioteca">
            <img src="/static/icons/sidebar/book.png" alt="">
            <form class="btn-a" action="{{url_for('biblioteca')}}">
                <input type="submit" value="Biblioteca" />
            </form>
        </div>

        <div class="sidebar-element" id="Libro del Día">
            <img src="/static/icons/sidebar/peace-day.png" alt="">
            <form class="btn-a" action="{{url_for('librodiario')}}">
                <input type="submit" value="Libro del Día" />
            </form>
        </div>

        <div class="sidebar-element" id="Comunidad">
            <img src="/static/icons/sidebar/handshake.png" alt="">
            <form class="btn-a" action="{{url_for('comunidad')}}">
                <input type="submit" value="Comunidad" />
            </form>
        </div>

        <div class="sidebar-element" id="Mi Perfil">
            <img src="/static/icons/sidebar/id-card.png" alt="">
            <form class="btn-a" action="{{url_for('perfil')}}">
                <input type="submit" value="Mi Perfil" />
            </form>
        </div>

        <div class="a-logout">
            <a href="{{url_for('logout')}}">Cerrar Sesion</a>
        </div>
        <div class="streak" >
            <img src="/static/icons/sidebar/medal.png" alt="">
            <h2>000</h2>
        </div>
    </aside>
    <main>
        {% block body %}

        {% endblock %}
    </main>

    <script>
        let selected_div = document.getElementById(String(document.title));
        selected_div.classList.add('sidebar-element-selected');

        const divs = document.querySelectorAll('.sidebar-element');
        divs.forEach(div => {
        div.addEventListener('click', function() {
            const form = div.querySelector('form');
            form.submit();
        });
        });
    </script>
</body>
</html>