<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codex</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/home.css')}}">
    <link rel="icon" href="/static/icons/logo.ico">
</head>
<body>
    <header>
        <i><h1>Codex</h1></i>
    </header>

    <main>
        

        <div class="btns">
            <h2>Nada mas comodo que aprender desde tu hogar.</h2>
            <form class="btn-a" action="{{url_for('register')}}">
                <input type="submit" value="Registrate ya" />
            </form>
            <form class="btn-b" action="{{url_for('login')}}">
                <input type="submit" value="O inicia sesión si ya estas registrado" />
            </form>
        </div>
    </main>
    
    <aside>
        <img src="/static/homepageimage.png" alt="">
    </aside>

</body>
</html>